<nav class="navbar d-flex justify-content-between">
    <div class="logo-img">
        <img src="assets/client-1.png" alt="">
    </div>
    <div>
        <div class="the-navbar">
            <ul>
                <li>home</li>
                <span class="w-30 "></span>
                <li>landeng</li>
                <span class="w-30 "></span>
                <li class="on-drowp-dawn">
                    <span>page</span>
                    <span class="w-10 " style="display: inline-block;"></span>
                    <i class="fas fa-chevron-right"></i>
                    <ul class="deowpdawn">
                        <li>pages</li>
                        <li>pages</li>
                        <li>pages</li>
                        <li>pages</li>
                    </ul>
                </li>
                <span class="w-30 "></span>
                <li>about</li>
                <span class="w-30 "></span>
                <li>conecct</li>
                <span class="w-30 "></span>
                <li>know us</li>
            </ul>
        </div>
    </div>
</nav>